# Kconfig - ST Microelectronics STM32L031XZ MCU
#
# Copyright (c) 2018 INTELLINIUM <giuliano.franchetto@intellinium.com>
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_STM32L031XZ

config SOC
	string
	default "stm32l031xx"

config NUM_IRQS
	int
	default 32

if GPIO_STM32

config GPIO_STM32_PORTH
	default y

endif # GPIO_STM32

endif # SOC_STM32L031XZ
